[Unit]
Description=Squid Web Proxy Server
Documentation=man:squid(8)
After=network.target network-online.target nss-lookup.target

[Service]
MemoryAccounting=true
CPUAccounting=true
Type=forking
LimitNOFILE=16384
PIDFile=/var/run/squid.pid
EnvironmentFile=/etc/sysconfig/squid
ExecStartPre=/usr/bin/mkdir -p /var/run/squid
ExecStartPre=/usr/bin/chown squid.squid /var/run/squid
ExecStartPre=/usr/sbin/squid -f $SQUID_CONF --foreground -z
ExecStart=/usr/sbin/squid $SQUID_OPTS -f $SQUID_CONF
ExecReload=/usr/sbin/squid -k reconfigure -f $SQUID_CONF
ExecStop=/usr/sbin/squidshut.sh
TimeoutStopSec=36
KillMode=none

[Install]
WantedBy=multi-user.target
